nav {
  position: fixed !important;
  width: 100%;
  top: 0;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  background-color: #fac32d;
  font-family: "Samsung Sharp Sans Bold" !important;
  padding-top: 10px;
}
.navbar-nav {
  color: #000;
  text-decoration: none !important;
  font-size: 15px;
  font-weight: bold;
  font-family: "Samsung Sharp Sans Bold";
}
.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
}

.logo {
  width: 50%;
  height: 50%;
  padding: 25px;
  z-index: 2;
}
.logo img {
  width: 350px;
}

.bottom-slider {
  position: absolute;
  height: 3px;
  margin-top: 30px;
  background: #000;
  transition: left 0.5s ease;
}

@media all and (min-width: 320px) and (max-width: 500px) {
  .logo img{
    width: 250px;
  }
  .bottom-slider {
    display: none !important;
  }
}
@media (max-width: 1000px) {
  .bottom-slider {
    display: none !important;
  }
}